/* importing google fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&family=Ubuntu+Condensed&display=swap&family=Roboto+Condensed:wght@700&display=swap');

* {
  color: #0B4619;
  font-family: 'Montserrat', sans-serif;
}

h1, h3 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
}

/* HEADER ELEMENTS */
/* section title */
.section-odd {
  background-color: #ffc107;
}

.container-fluid {
  padding: 3% 15%;
}

/* navbar-related elements starts here */
.navbar {
  padding: 0 0 2.0rem 0;
}

#logoText {
  display: inline;
  font-family: 'Ubuntu Condensed', sans-serif;
  letter-spacing: inherit;
  text-transform: capitalize;
  margin-left: 5%;
  font-size: 2.0rem;
}

#navbarNav a {
  text-decoration: none;
  letter-spacing: 2px;
  padding: 20px;
}

.current-page {
  font-weight: bold;
}

/*lvha nav items*/
#navbarNav a:link {
  color: #0B4619;
}

#navbarNav a:visited {
  color: #116530;
}

#navbarNav a:hover {
  color: #D06224;
  text-shadow: 1px 1px 10px #ffffff;
}

#navbarNav a:active {
  color: #E8E8CC;
}

/* navbar-related elements ends here */
/* Bottom part of the header starts here */
.headerContent {
  margin: 5% auto;
}

.section-odd h1 {
  font-size: 2.0rem;
  line-height: 1.3;
}

.section-odd p {
  color: #116530;
  margin-top: 20px;
}

#welcome-pic {
  border-radius: 15%;
  width: 100%;
  height: auto;
  box-shadow: 2px 2px 8px grey;
  transform: rotate(30deg);
  transform: scale(0.5);
  animation: welcomeAnimation 1.5s 1 forwards;
}

@keyframes welcomeAnimation {
  0% {
    transform: rotate(20deg) scale(0.1);
  }

  100% {
    transform: rotate(0deg) scale(1.0);
  }
}

/* section features starts here*/
#features {
  text-align: center;
}

.featbox {
  margin: 1.8% auto;
}

.featbox i {
  color: #ffc107;
}

.featbox i:hover {
  color: #e9b007;
  text-shadow: 1px 1px 10px greenyellow;
}

.featbox h2 {
  font-size: 2.5rem;
}

.featp {
  margin: 0 auto;
  color: #116530;
  padding: 0 5%;
}
/* media queries*/

@media (max-width: 992px) {
  .navbar-nav {
    text-align: center;
  }

  .nav-item {
    width: 100%;
    padding: 7px;
  }
}

@media (max-width: 768px) {
  .headerContent {
    margin: 3% auto;
    text-align: center;
  }

  .featbox {
    text-align: center;
    margin: 3% auto;
  }

  hr {
    display: none;
  }
}
